html, body {
  
  background-color:#FFE4C4;
  width: 350px;
  height: 450px;
}
#English{
  padding: 10px;
  height: 150px; 
  border-radius: 25px;
  border: 2px solid #73AD21; 
  width: 200px;
}
#Indic_Language{
  padding: 10px;
  height: 150px;
  border-radius: 25px;
  border: 2px solid #73AD21; 
  width: 200px;
}

p,div{
  color: blue;
}
